<div id="<%= dom_id expense_item %>">
  <p>
    <strong>Description:</strong>
    <%= expense_item.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= expense_item.color %>
  </p>

</div>
