<div class="container mb-5">
  <div class="container shadow bg-light card p-4 my-4">
    <h2>Inserisci una nuova Voce di Spesa</h2>
  </div>

  <div class="container card shadow bg-light p-4 my-4">
    <h4 class='d-flex justify-content-end text-right pb-5 pl-5'>
      <%= link_to 'Torna a tutte le Voci di Spesa', expense_items_path, class:"btn btn-primary" %>
    </h4>

    <%= render 'form', encasing: @expense_item %>
  </div>
</div>
