<p style="color: green"><%= notice %></p>

<% @expense_items = ExpenseItem.all %>

<%= react_component("IndexMovementsByMonth",
  {
    originalCount: render(template: 'counts/count', formats: [:json]),
    expense_items: render(template: 'counts/expense_items', formats: [:json]),
    groupedMonthsByYear: grouped_months_by_year(@count)

  }, prerender: true)
%>


